html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

a.button.button-rounded.button-plain.button-small-caps.button-border {
    background-color: #1212123b;
}

a.button.button-rounded.button-plain.button-small-caps.button-border:hover {
    background-color: #fff;
}

blockquote, q {
    quotes: none
}

.button {
    margin: 4px;
}

.button-border, .button-border-thin, .button-border-thick {
    border-width: 1px;
    border-style: dotted;
}

.l-center {
    margin-top: 50px;
}

input, textarea {
    margin: 0;
    padding: 0
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th {
    text-align: left
}

a:focus {
    outline: 0
}

html {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Microsoft YaHei, sans-serif;
    z-index: 1;
    line-height: 1.5;
    background-color: #121925;
    font-weight: 300;
    background-size: 100% 100%;
    background-attachment: fixed;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px;
    z-index: 2;
    cursor: url(../images/default.cur), auto;
}

body:before {
    content: ' ';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

a {
    color: #858585;
    text-decoration: none;
}

a:hover {
    color: #00b3ba;
    cursor: url(../images/hand.cur), auto
}

b {
    background-color: rgba(0, 179, 186, 0.4)
}

::selection {
    background: #00b3ba
}

::-moz-selection {
    background: #00b3ba
}

.top_hr_style01 {
    width: 70%;
    margin: 5px auto;
    border: 0;
    border-bottom: 1px solid #fff
}

.top_hr_style02 {
    border: 0;
    border-bottom: 1px dashed #858585
}

.slider {
    width: 100%;
    height: 150px;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    background-color: #121925;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

#top {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    z-index: 11
}

#top_main {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 40px 0 10px 0
}

#top_logo {
    height: 30%;
    min-height: 50px;
    max-height: 244px;
    display: block
}

#top_logo img {
    -webkit-animation: A 15s linear 0s infinite;
    animation: A 15s linear 0s infinite;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 100%
}

@-webkit-keyframes A {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes A {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

#top_title {
    text-align: center;
    padding-top: 15px;
    display: block;
    height: 10%
}

#top_title img {
    margin-right: auto;
    margin-left: auto;
    display: block
}

#top_title #top_title01 {
    height: 83%;
    max-height: 59px;
    min-height: 30px
}

#top_title #top_title02 {
    height: 9px
}

#top_title #top_title02:hover {
    background: rgba(0, 0, 0, 0.8);
}

#top_navlist {
    display: block;
    width: 30%;
    height: 220px;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px
}

#top_navlist::after {
    content: " ";
    display: block;
    width: 20%;
    height: 150px
}

#top_footer {
    padding: 4px 10px 4px 10px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
    color: #858585;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear
}

#top_copyright {
    display: block;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center
}


.tooltips span {
    display: none;
}

.tooltips:hover span {
    display: block;
    position: relative;
}

    background-size: 100% 100%;
    background-attachment: fixed;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 300px;
    z-index: 2;
    cursor: url(../images/default.cur), auto;
}

body:before {
    content: ' ';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

a {
    color: #858585;
    text-decoration: none;
}

a:hover {
    color: #00b3ba;
    cursor: url(../images/hand.cur), auto
}

b {
    background-color: rgba(0, 179, 186, 0.4)
}

::selection {
    background: #00b3ba
}

::-moz-selection {
    background: #00b3ba
}

.top_hr_style01 {
    width: 70%;
    margin: 5px auto;
    border: 0;
    border-bottom: 1px solid #fff
}

.top_hr_style02 {
    border: 0;
    border-bottom: 1px dashed #858585
}

.slider {
    width: 100%;
    height: 150px;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    background-color: #121925;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed
}

#top {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    z-index: 11
}

#top_main {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 40px 0 10px 0
}

#top_logo {
    height: 30%;
    min-height: 50px;
    max-height: 244px;
    display: block
}

#top_logo img {
    -webkit-animation: A 15s linear 0s infinite;
    animation: A 15s linear 0s infinite;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 100%
}

@-webkit-keyframes A {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes A {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

#top_title {
    text-align: center;
    padding-top: 15px;
    display: block;
    height: 10%
}

#top_title img {
    margin-right: auto;
    margin-left: auto;
    display: block
}

#top_title #top_title01 {
    height: 83%;
    max-height: 59px;
    min-height: 30px
}

#top_title #top_title02 {
    height: 9px
}

#top_title #top_title02:hover {
    background: rgba(0, 0, 0, 0.8);
}

#top_navlist {
    display: block;
    width: 30%;
    height: 220px;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px
}

#top_navlist::after {
    content: " ";
    display: block;
    width: 20%;
    height: 150px
}

#top_footer {
    padding: 4px 10px 4px 10px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
    color: #858585;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear
}

#top_copyright {
    display: block;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center
}


.tooltips span {
    display: none;
}

.tooltips:hover span {
    display: block;
    position: relative;
}